@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Products>
<h1>Welcome to my page</h1>
<h1>Hi @ViewBag.Username</h1>
<p>@ViewBag.Email</p>
<table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Brand</th>
        </tr>
        

      
    </thead>
    <tbody>
         @foreach(var item in ViewBag.Products){
        <tr>
        <td>@item.name</td>
        <td>@item.brand</td>
            </tr>
        }
        
    </tbody>

</table>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Brand</th>
        </tr>



    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.brand</td>
            </tr>
        }

    </tbody>

</table>